{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow",
    "@babel/preset-stage-2"
  ],
  "plugins": [["styled-components", { "ssr": true, "displayName": false }]]
}
