{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "> 5% in AU"
        },
        "useBuiltIns": "usage"
      }
    ],
    "react",
    "flow",
    "stage-2"
  ],
  "plugins": [["styled-components", { "ssr": true, "displayName": false }]]
}
